<div class="newAdherent">
  <a mat-flat-button routerLink="./nouveau" color="accent">Nouvel·le adhérent·e</a>
</div>

<mat-form-field appearance="fill" class="search">
  <mat-label>Filtrer</mat-label>
  <input matInput [formControl]="filter" />

  <button
    type="button"
    matSuffix
    mat-icon-button
    (click)="filter.patchValue('')"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="mat-elevation-z1">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z1">
    <ng-container matColumnDef="prenom">
      <mat-header-cell *matHeaderCellDef> Prénom </mat-header-cell>
      <mat-cell *matCellDef="let adherent"> {{adherent.prenom}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
      <mat-cell *matCellDef="let adherent"> {{adherent.nom}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateDerniereAdhesion">
      <mat-header-cell *matHeaderCellDef> Date d'adhésion </mat-header-cell>
      <mat-cell *matCellDef="let adherent"> {{adherent.lastAdhesion | date : 'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estBenevole">
      <mat-header-cell *matHeaderCellDef> Bénévole ? </mat-header-cell>
      <mat-cell *matCellDef="let adherent"> {{adherent.benevole}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="remarqueBenevolat">
      <mat-header-cell *matHeaderCellDef> Remarque bénévolat </mat-header-cell>
      <mat-cell *matCellDef="let adherent"> {{adherent.remarqueBenevolat}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="autreRemarque">
      <mat-header-cell *matHeaderCellDef> Autre remarque </mat-header-cell>
      <mat-cell *matCellDef="let adherent"> {{adherent.autreRemarque}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator
    [length]="dataSource?.totalElements"
    [pageSize]="dataSource?.PAGE_SIZE"
    [pageSizeOptions]="[ dataSource?.PAGE_SIZE ]"
  >
  </mat-paginator>
</div>
