//----------------------------------------
//  Login
//----------------------------------------

:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 42px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2), 0 5px 5px 0 rgba(0, 0, 0, .24);

    .mat-flat-button {
      border-radius: 0;
    }

  }

}
