<mat-toolbar color="accent">
  <img
    class="logo"
    src="assets/logo.png"
    alt="La Petite Rennes"
    routerLink="/" />

  <button mat-button routerLink="/adherents" routerLinkActive="mat-primary">Adhérents</button>
  <button mat-button routerLink="/ventes/nouvelle" routerLinkActive="mat-primary">Nouvelle vente</button>
  <button mat-button routerLink="/articles" routerLinkActive="mat-primary">Articles</button>

  <span class="flex"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    Patrick
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Administration</button>
    <button mat-menu-item (click)="onLogout()">Déconnexion</button>
  </mat-menu>

</mat-toolbar>
