<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="nom">
    <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
    <mat-cell *matCellDef="let article"> {{article.nom}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="quantite">
    <mat-header-cell *matHeaderCellDef> Quantité </mat-header-cell>
    <mat-cell *matCellDef="let article"> {{article.quantite}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="prixVente">
    <mat-header-cell *matHeaderCellDef> Prix de vente </mat-header-cell>
    <mat-cell *matCellDef="let article"> {{article.prixVente}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fournisseur">
    <mat-header-cell *matHeaderCellDef> Fournisseur </mat-header-cell>
    <mat-cell *matCellDef="let article"> {{article.fournisseur?.nom}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="prixAchatUnitaire">
    <mat-header-cell *matHeaderCellDef> Prix d'achat unitaire </mat-header-cell>
    <mat-cell *matCellDef="let article"> {{article.prixAchatUnitaire}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
